

.multipleChoiceAnswer {
    color:rgb(57, 57, 179);
    font-size: 17px;
    padding-bottom: 5px;
    padding-left: 3px;
}
.triviaQuestion {
    text-align: center;
    font-size: 40px;
}
.formStyle {
    width: 100%;
    padding-left: 0%;
}
.pickCorrectAnswer {
    margin-left: 3%;
}
/* #answer1 {
   
}
#answer2 {
    
}
#answer3 {
  
}
#answer4 {
   
}
#answer5 {
   
} */
.xx {
    margin-left: 3%;
}

.submitAnswerButton {
    width: 20%;
    height: 40px;
    margin-left: 40%;
}